/* Header animation */

.nav-item {
  color: black;
  position: relative;
  text-decoration: none;
  opacity: 0.5;
}

.nav-item:hover {
  opacity: 1;
}
.nav-item::before {
  transition: 300ms;
  position: absolute;
  height: 3px;
  content: "";
  background-color: black;
}

.nav-item-ltr::before {
  width: 0%;
}

.nav-item-ltr:hover::before {
  width: 100%;
}

/* side bar animation */

.side-bar-item {
  position: relative;
  background-color: rgb(62, 62, 62);
  opacity: 0.75;
}

.side-bar-item:hover {
  background-color: rgb(125, 125, 125);
  opacity: 1;
}

.side-bar-item::before {
  transition: 300ms linear;
  position: absolute;
  -webkit-transition: 300ms linear;
  -moz-transition: 300ms linear;
  -ms-transition: 300ms linear;
  -o-transition: 300ms linear;
  content: "";
  width: 3px;
  background-color: rgb(255, 255, 255);
}

.side-bar-ltr::before {
  height: 0%;
}

.side-bar-ltr:hover::before {
  height: 100%;
}
